@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
 

}

body {
    padding: 0px;
}


.bj_center{
    margin:auto;
    width:100%;
}

.bj_margin_b{
    margin-bottom:4px;
}