@use '@angular/material' as mat;

.spacer {
    flex: 1 1 auto;
}

mat-toolbar {
  display: flex;
  align-items: center;

  @include mat.toolbar-overrides((
    container-background-color: var(--mat-sys-primary),
    container-text-color:  var(--mat-sys-on-primary),
  ))
}

button mat-icon {
  color: var(--mat-sys-on-primary);
}

mat-form-field {
  margin-top: 20px;
}

.logo {
  height: 35px;
  margin-top: 10px;
}

.circle {
  width: 32px; /* Width of the circle */
  height: 32px; /* Height of the circle */
  font-size: 20px; /* Font size for the text */
  // font-weight: bold; /* Make the text bold */
  background-color: #3498db; /* Circle background color */
  color: white; /* Text color */
  display: flex; /* Flexbox for centering text */
  justify-content: center; /* Horizontal alignment */
  align-items: center; /* Vertical alignment */
  border-radius: 50%; /* Makes the element a circle */
  text-align: center; /* Center-align text */
}