<mat-toolbar >
    <a routerLink="/"><img class="logo" alt="logo" src="similar-words-logo.png"></a>
    <span class="title">{{headerTitle}}</span>
    <span class="spacer"></span>

    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
        <input name="searchText" matInput type="search" [(ngModel)]="searchText" placeholder="Word to search" />
        <mat-icon matSuffix (click)="onSubmit(f)">search</mat-icon>
    </mat-form-field>
   </form>

    <span class="spacer"></span>
    @if(userName) {
        <!-- User word study ovewrview -->
         <div class="study-info" matTooltip="{{numWordsToStudy}} words to study({{numNewWordsToStudy}} new)">
            <button mat-fab matBadge="{{numNewWordsToStudy}}" matBadgeColor="warn">{{numWordsToStudy}}</button>
         </div>
        <!-- User icon and menu -->
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu for login user">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item disabled>
                <span>{{userName}}</span>
            </button>
            <button mat-menu-item  (click)="logout()">
                <mat-icon>logout</mat-icon>
                <span>Logout</span>
            </button>
        </mat-menu>
    } @else {
        <mat-icon (click)="login()">person</mat-icon>
    }
</mat-toolbar>