<mat-toolbar >
    <a routerLink="/"><img class="logo" alt="logo" src="{{icon_url}}"></a>
    <span class="spacer"></span>

    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
        <input name="searchText" matInput type="search" [(ngModel)]="searchText" placeholder="Word to search" />
        <mat-icon matSuffix (click)="onSubmit(f)">search</mat-icon>
    </mat-form-field>
   </form>

    <span class="spacer"></span>
    @if(userName) {
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu for login user">
            <span class="circle"> {{userName.substring(0,1).toUpperCase()}} </span>
        </button>
        <mat-menu #menu="matMenu">
        <button mat-menu-item disabled>
            <span>{{userName}}</span>
        </button>
        <button mat-menu-item  (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
        </button>
        </mat-menu>
    } @else {
        <mat-icon (click)="login()">person</mat-icon>
    }
</mat-toolbar>