mat-form-field {
 width: 100%;
 max-width: 300px;
}

input {
 width: 100%;
}

.list-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 10px;
}

.title {
  font: var(--mat-sys-headline-small);
  color: var(--mat-sys-secondary);
}

app-word-details {
  background-color: var(--mat-sys-surface);
  outline: 2px solid var(--mat-sys-outline-variant);
  border-radius: 10px 10px 0 0;
}