<div class="container">

<div class="title-row content-padding" >
  <span class="headline">{{ word?.name }}</span> 
  <i>{{ word?.pronunciation }}</i>
  @if(word?.soundUrl) {
    <mat-icon (click)="playSound(word?.soundUrl)">volume_up</mat-icon>
  }
  <span class="small-gap" matTooltip="Frequency: {{word?.frequency}}" >
    @for(v of getFrequencyStyle; track $index){
      <mat-icon [ngClass]="v" >noise_control_off</mat-icon>
    }
    </span>
  
    <span class="right-align">
      @if(wordStudy?.isClosed) {
        <mat-icon (click)="onBookmarkClicked()" class="color-off" matTooltip="Add to study list">bookmark-outline</mat-icon>
      }
      @else {
        <mat-icon matBadge="{{wordStudy?.studyCount}}" aria-hidden="false" matTooltip="Studied Times:{{wordStudy?.studyCount}}" class="color-on">bookmark</mat-icon>
      }
    </span>
</div>
  <!-- <mat-icon >fiber_manual_record</mat-icon>
  <mat-icon >trip_origin</mat-icon>
  <mat-icon >radio_button_off</mat-icon>
  <mat-icon >radio_button_unchecked</mat-icon> -->
<div class="onine-links content-padding">
  @for(item of dictionaryLinks; track item.name){
    &nbsp;
    <a target="_blank" href="{{item.url}}" matTooltip="{{item.name}}">{{ item.name.substring(0,7) }}</a>
  }
</div>

<div class="content-padding">
  @if(!hideMeaning()) {
  <span>{{ word?.meaningShort??'' }}</span>
  <p>{{ word?.meaningLong }}</p>
  <p><i>{{ word?.example }}</i></p>
  }
</div>

<mat-divider></mat-divider>

<div class="content-padding">
  <span class="label">Similar:</span>
  @for(item of similarWords; track item){
    &nbsp;
    <a routerLink="/search/{{item}}">{{ item }}</a> 
  }
</div>

@if(wordStudy?.studyCount) {
  <mat-divider></mat-divider>
  <div class="study-history">
  <label>Total study times: {{wordStudy?.studyCount}}, </label>
  <label>Last time studied: {{wordStudy?.lastStudyTimeUtc|date:'yyyy-MM-dd HH:mm:ss'}}</label>
</div>
}


</div>

