@use '@angular/material' as mat;

.container {
  padding: 0px;
}

mat-icon {
  vertical-align: middle;
}


.headline {
  font-size: 20px;
  margin: 0 4px 0 0;
}

.small-gap mat-icon {
  margin: 0 -12px 0 0;
}

.color-level-5 
{
  color: green;
}
.color-level-4
{
  color: green;
}
.color-level-3 {
  color: orange;
}
.color-level-2 {
  color: orange;
}
.color-level-1 {
  color: red;
}

.color-off {
  color: var(--mat-sys-surface-dim);
}

.color-on {
  color: var(--mat-sys-primary);
}

.right-align {
  margin-left: auto;
}

app-word-bookmark {
  margin-left: auto;
}

.label {
  color: var(--mat-sys-surface-dim);
  display: inline-block;
}

p {
  margin: 6px 0px 0px 0px;
}

.content-padding {
  padding: 0px 6px 0px 6px;
}

.title-row {
  display: flex;
  gap: 4px;
  align-items: center;
  text-align: center;
  padding-top: 6px;
}

.onine-links {
  background-color: var(--mat-sys-surface-dim); 
  margin: 4px 0px 4px 0px; 
  padding: 5px 0px 5px 0px;
}

.onine-links a {
  font-size: 80%;
  display: inline-block; /* Ensure padding and border apply properly */
}
