mat-icon {
  color: green;
  vertical-align: middle;
}

.word-name {
  font: var(--mat-sys-headline-small  );
  color: var(--mat-sys-primary);
  margin: 0 4px 0 0;
}

.label {
  color: var(--mat-sys-surface-dim);
  display: inline-block;
  width: 5em;
}

a {
  margin-right: 0.5em;
}

p {
  margin: 6px 0px 0px 0px;
}

.title-row {
  display: flex;
  gap: 4px;
  align-items: center;
  text-align: center;
}
