.container {
  padding: 10px;
}

mat-icon {
  color: green;
  vertical-align: middle;
}

.headline {
  font: var(--mat-sys-headline-small  );
  margin: 0 4px 0 0;
}

.label {
  color: var(--mat-sys-surface-dim);
  display: inline-block;
}

p {
  margin: 6px 0px 0px 0px;
}

.title-row {
  display: flex;
  gap: 4px;
  align-items: center;
  text-align: center;
}

.onine-links {
  background-color: lightblue; 
  margin: 5px -10px 5px -10px; 
  padding: 8px 0px 8px 0px;
  color: white;
}
