<div class="container">

<div class="title-row" >
  <span class="word-name">{{ word().name }}</span> 
  <i>{{ word().pronounciation }}</i>
  @if(word().soundUrl) {
    <mat-icon (click)="playSound(word().soundUrl)">play_circle</mat-icon>
  }
  <mat-chip  style="margin-left: auto;" matTooltip="Frequency">{{word().frequency}}</mat-chip>
</div>

<div class="onine-links">
  @for(item of dictionaryLinks(); track item.name){
    <a target="_blank" href="{{item.url}}" matTooltip="{{item.name}}">{{ item.name.substring(0,7) }}</a>
  }
</div>

<div>
  <span>{{ word().meaningShort }}</span>
  <p>{{ word().meaningLong }}</p>
</div>

<div>
  <span class="label">Similar:</span>
  @for(item of similarWords(); track item){
    <a routerLink="/search/{{item}}">{{ item }}</a> 
  }
</div>
</div>

